.todo-section {
  grid-area: main;
  background-color: var(--primary-very-dark);
  border-bottom: none;
  border-right: none;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
}

.todo-section__add-new-column {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 17rem;
  height: 100%;
  background-color: #23242F;
  margin-top: 3rem;
  border-radius: 5px;
  color: var(--primary-text);
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.todo-section__add-new-column-name {
  border: none;
  background-color: var(--primary-very-dark);
  padding: .5rem;
  color: white;
  border-bottom: 1px solid white;
}

.todo-section__no_columns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  align-self: center;
  margin: auto;
}

.todo-section__no_columns p {
  color: var(--primary-text);
}

.todo-section__add-column-btn {
  background-color: var(--primary-purple);
  max-width: 50%;
}

.todo-section__add-column-btn:hover {
  background-color: var(--primary-purple-hover);
}

.todo-section__input {
  display: flex;
  align-items: center;
  position: absolute;
  top: -3.5rem;
  left: 0;
  min-width: 20rem;
}

.todo-section__add-new-column-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.todo-section__add-new-column-name:focus {
  outline: none;
}

.todo-section__add-new-column:hover {
  opacity: .8;
}