.todo-section {
  grid-area: main;
  background-color: var(--primary-very-dark);
  /* border: 1px solid var(--primary-border); */
  border-bottom: none;
  border-right: none;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}