.viewTask__title-container { 
  display: flex;
  justify-content: space-between;
}

.viewTask__ellipsis {
  padding: .5rem;
  cursor: pointer;
}

.viewTask__description {
  color: var(--primary-text);
  line-height: 1.7;
}

.viewTask__subtask-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.viewTask__subtask-container h2 {
  font-size: .8rem;
  margin-bottom: .7rem;
}

.viewTask__subtasks-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.viewTask__subtask {
  display: flex;
  align-items: center;
  background-color: #20212C;
  border-radius: 5px;
}

.viewTask__subtask-title {
  padding: .7rem 1rem .7rem 0rem;
}

.checked-subtask-title {
  text-decoration: line-through;
  color: gray;
}

.viewTask__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
}

.viewTask__checkbox {
  display: none;
}

.viewTask__checkbox + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--primary-text);
  border-radius: 4px;
  cursor: pointer;
}

.viewTask__checkbox:checked + label {
  background: var(--primary-purple); /* Background color for the checked state */
}

.viewTask__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.viewTask__columnName {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  padding: .7rem .9rem;
  align-items: center;
  cursor: pointer;
  /* position: relative; */
}

.viewTask__columnName.active {
  border: 1px solid var(--primary-purple);
}

.viewTask__columnName img {
  height: 8px;
  width: 11px;
}

.viewTask__columnDropdown {
  display: flex;
  position: absolute;
  bottom: -3.5rem;
  left: 2rem;
  background-color: var(--primary-very-dark);
  width: 26rem;
  padding: 1rem;
  border-radius: 5px;
}

.viewTask__columnDropdown-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 1rem;
  color: var(--primary-text);
  width: 100%;
}

.viewTask__columnDropdown-list li {
  cursor: pointer;
  width: 100%;
}

.viewTask__edit-dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #20212C;
  width: 10rem;
  position: absolute;
  right: -1rem;
  top: 5rem;
}

.viewTask__edit-dropdown span {
  transition: .15s;
  cursor: pointer;
}

.viewTask__delete-task {
  color: var(--warning-text);
}

.viewTask__edit-dropdown span:hover {
  opacity: .8;
}