.nav {
  grid-area: nav;
  background-color: #2B2C37;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(228, 235, 250, 0.3); 
}

.nav.light { 
  background-color: #FFFFFF;
}

.nav.hidden {
  display: none;
}

.nav__boards-number {
  text-transform: uppercase;
  padding-left: 2rem;  
  color: var(--primary-text);
  letter-spacing: 1px;
  font-size: .8rem;
  padding-top: 2rem;
}

.nav ul {
  list-style: none;
  margin-top: 2rem;
}

.nav__board-name, .nav__hide-sidebar {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  gap: 1rem;
  padding: .8rem 2rem;
  margin-right: 1rem;
  border-radius: 0rem 24px 24px 0rem;
  cursor: pointer;
  transition: .15s;
}

.nav__board-name:hover, .nav__hide-sidebar:hover {
  background-color: white;
  color: var(--primary-purple);
}

.nav__board-name.light:hover, .nav__hide-sidebar.light:hover {
  background-color: #EFEFF9;
}

.nav__board-name.active {
  background-color: var(--primary-purple);
  color: white;
}


.nav__board-icon.active {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(27deg) brightness(107%) contrast(101%);
}

.nav__create-new-board {
  color: var(--primary-purple);
}

.toggler {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-purple);
  transition: .4s;
  border-radius: 1rem;
}

.slider:hover {
  background-color: var(--primary-purple-hover);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.15rem;
  width: 1.15rem;
  left: .18rem;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.slider.active {
  opacity: .6;
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

.nav__mode-sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: .5rem;
}

.nav__mode-toggle {
  display: flex;
  padding: .7rem;
  width: 90%;
  background-color: #20212C;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  border-radius: 5px;
}

.nav__mode-toggle.light {
  background-color: #EFEFF9;
}

.nav__show-sidebar {
  display: none;
  position: absolute;
  bottom: 2.2rem;
  left: 0; 
  background-color: var(--primary-purple);
  align-items: center;
  padding: 1rem;
  border-radius: 0rem 24px 24px 0rem;
  cursor: pointer;
  transition: .15s;
}

.nav__show-sidebar.active {
  display: flex;
}

.nav__show-sidebar img {
  height: .8rem;
}


