.header {
  grid-area: header;
  background-color: #2B2C37;
  display: flex;
}

.header__logo {
  width: 300px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-right: 1px solid rgba(228, 235, 250, 0.3);
}

.header__info {
  flex: 1;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 2rem;
}

.header h1 {
  color: white;
  font-size: 1.5rem;
}

.button-ellipsis-group {
  display: flex;
  align-items: center;
}

.add-task-btn {
  background-color: var(--primary-purple);
}

.add-task-btn:hover {
  background-color: var(--primary-purple-hover);
}

.header__ellipsis {
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.header__board-options {
  display: none;
  flex-direction: column;
  background-color: var(--primary-very-dark);
  position: absolute;
  right: 1rem;
  top: 5.5rem;
  padding: 1rem 1rem;
  border-radius: 23px;
  gap: .5rem;
  width: 15rem;
  z-index: 1000;
}

.header__board-options.active {
  display: flex;
}

.header__board-options div {
  padding: .5rem;
  width: 100%;
  cursor: pointer;
  font-size: .8rem;
  user-select: none;
}

.header__edit {
  color: var(--primary-text); 
}

.header__delete {
  color: var(--warning-text);
}