.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:  "header header"
                        "nav main"
                        "nav main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 97px 1fr 1fr;
}

.layout.hidden-nav {
  grid-template-areas:  "header header"
                        "main main"
                        "main main";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 97px 1fr 1fr; 
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.35);
  position: absolute;
}

.nav__show-sidebar:hover {
  background-color: var(--primary-purple-hover);
}

.nav__show-sidebar.light:hover {
  background-color: #EFEFF9;
}

@media (max-width: 750px) {
  .layout {
    grid-template-areas:  "header header"
                          "main main"
                          "main main";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 97px 1fr 1fr;  
  }

  .nav__show-sidebar.active {
    display: none;
  }
}