.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:  "header header"
                        "nav main"
                        "nav main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 97px 1fr 1fr;
}

.layout.hidden-nav {
  grid-template-areas:  "header header"
                        "main main"
                        "main main";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 97px 1fr 1fr; 
}