.addBoard__title {
  font-size: 1.1rem;
  margin-bottom: .7rem;
}

.addBoard__input {
  padding: .7rem 1rem;
  background-color: transparent;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #414552;
  border-radius: 4px;
  color: white;
}

.addBoard__input.boardName-error {
  border: 1px solid var(--warning-text);
}

.addBoard__name-container {
  position: relative;
}

.addBoard__input:focus {
  outline: none;
}

.addBoard__column {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.boardName__error-message {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  color: var(--warning-text);
}

.addBoard__column-name {
  padding: .7rem 1rem;
  border: 1px solid #414552;
  background-color: transparent;
  width: 100%;
  border-radius: 4px;
  font-size: .8rem;
  color: white;
}

.addBoard__column input:focus {
  outline: none;
}

.add-new-column, .add-new-board {
  width: 100%;
  border: 1px solid #414552;
  display: flex;
  justify-content: center;
  padding: .7rem;
  font-size: .8rem;
  font-weight: 600;
}

.addBoard__column-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.addBoard__column-delete, .addBoard__column-add {
  padding: .5rem;
  cursor: pointer;
  transition: .15s;
}

.addBoard__column-delete:hover, .addBoard__icon:hover {
  opacity: .8;
}

.add-new-column {
  background-color: white;
  color: var(--primary-purple);
}

.add-new-board {
  background-color: var(--primary-purple);
  color: white;
}